.vscode
VLSI_HW1
**/.DS_Store

**/bin
**/output
**/qrc
**/lib
**/sdc
**/testcase
**/*.tar
**/*.gz
**/best_result
**/design
**/*.lef
**/*.def
**/*_grading



#*
#!.gitignore

#!**/src/*
#!**/include/*
#!**/script/*
#!**/HW*
#!VLSI_HW2/HW2/src
